@charset 'UTF-8';
/* Slider */
.slick-loading .slick-list
{
    background: #fff url('/assets/image/ajax-loader.gif') center center no-repeat;
}

/* Icons */
@font-face
{
    font-family: 'slick';
    font-weight: normal;
    font-style: normal;

    src: url('/assets/fonts/slick.eot');
    src: url('/assets/fonts/slick.eot?#iefix') format('embedded-opentype'), url('/assets/fonts/slick.woff') format('woff'), url('/assets/fonts/slick.ttf') format('truetype'), url('/assets/fonts/slick.svg#slick') format('svg');
}
/* Arrows */
.ssr-carousel-back-button,
.ssr-carousel-next-button
{
    font-size: 0;
    line-height: 0;

    position: absolute;
    top: 50%;

    display: block;

    width: 20px;
    height: 20px;
    padding: 0;
    -webkit-transform: translate(0, -50%);
    -ms-transform: translate(0, -50%);
    transform: translate(0, -50%);

    cursor: pointer;

    color: transparent;
    border: none;
    outline: none;
    background: transparent;
}
.ssr-carousel-back-button:hover,
.ssr-carousel-back-button:focus,
.ssr-carousel-next-button:hover,
.ssr-carousel-next-button:focus
{
    color: transparent;
    outline: none;
    background: transparent;
}
.ssr-carousel-back-button:hover:before,
.ssr-carousel-back-button:focus:before,
.ssr-carousel-next-button:hover:before,
.ssr-carousel-next-button:focus:before
{
    opacity: 1;
}
.ssr-carousel-back-button.slick-disabled:before,
.ssr-carousel-next-button.slick-disabled:before
{
    opacity: .25;
}

.ssr-carousel-back-button:before,
.ssr-carousel-next-button:before
{
    font-family: 'slick';
    font-size: 20px;
    line-height: 1;

    opacity: .75;
    color: white;

    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.ssr-carousel-back-button
{
    left: -25px;
}
[dir='rtl'] .ssr-carousel-back-button
{
    right: -25px;
    left: auto;
}
.ssr-carousel-back-button:before
{
    content: '←';
}
[dir='rtl'] .ssr-carousel-back-button:before
{
    content: '→';
}

.ssr-carousel-next-button
{
    right: -25px;
}
[dir='rtl'] .ssr-carousel-next-button
{
    right: auto;
    left: -25px;
}
.ssr-carousel-next-button:before
{
    content: '→';
}
[dir='rtl'] .ssr-carousel-next-button:before
{
    content: '←';
}

/* Dots */
.slick-dotted.slick-slider
{
    margin-bottom: 30px;
}

.ssr-carousel-dots
{
    position: absolute;
    bottom: -25px;

    display: block;

    width: 100%;
    padding: 0;
    margin: 0;

    list-style: none;

    text-align: center;
}
.ssr-carousel-dots button
{
    position: relative;

    display: inline-block;

    width: 20px;
    height: 20px;
    margin: 0 5px;
    padding: 0;

    cursor: pointer;
}
.ssr-carousel-dots button span
{
    font-size: 0;
    line-height: 0;

    display: block;

    width: 20px;
    height: 20px;
    padding: 5px;

    cursor: pointer;

    color: transparent;
    border: 0;
    outline: none;
    background: transparent;
}
.ssr-carousel-dots button span:hover,
.ssr-carousel-dots button span:focus
{
    outline: none;
}
.ssr-carousel-dots button span:hover:before,
.ssr-carousel-dots button span:focus:before
{
    opacity: 1;
}
.ssr-carousel-dots button span:before
{
    font-family: 'slick';
    font-size: 6px;
    line-height: 20px;

    position: absolute;
    top: 0;
    left: 0;

    width: 20px;
    height: 20px;

    content: '•';
    text-align: center;

    opacity: .25;
    color: black;

    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}
.ssr-carousel-dots li.slick-active button:before
{
    opacity: .75;
    color: black;
}
